# HR Analytics Dataset

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
hrtrain = pd.read_csv('C://Users//Aditya Prakash//Downloads//DSE//Faculty Notes//Classification//hrtrain.csv')
hrtest = pd.read_csv('C://Users//Aditya Prakash//Downloads//DSE//Faculty Notes//Classification//hrtest.csv')

In [3]:
hrtrain.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [4]:
hrtest.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,8724,Technology,region_26,Bachelor's,m,sourcing,1,24,NaN,1,1,0,77
1,74430,HR,region_4,Bachelor's,f,other,1,31,3.0,5,0,0,51
2,72255,Sales & Marketing,region_13,Bachelor's,m,other,1,31,1.0,4,0,0,47
3,38562,Procurement,region_2,Bachelor's,f,other,3,31,2.0,9,0,0,65
4,64486,Finance,region_29,Bachelor's,m,sourcing,1,30,4.0,7,0,0,61

In [5]:
hrtrain.shape

(54808, 14)

In [6]:
hrtest.shape

(23490, 13)

In [7]:
hrtrain.isnull().sum()

employee_id                0
department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [8]:
hrtest.isnull().sum()

employee_id                0
department                 0
region                     0
education               1034
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    1812
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
dtype: int64

### First submission, no one was promoted. Hence F1 is 0

In [9]:
hrtrain[hrtrain.gender=='f']['is_promoted'].value_counts()

0    14845
1     1467
Name: is_promoted, dtype: int64

### Females : 1467 Promored where as Males: 3201

In [10]:
# Finding the count of males and females
hrtrain.gender.value_counts()

m    38496
f    16312
Name: gender, dtype: int64

In [11]:
# Previous year ratings

hrtrain.previous_year_rating.value_counts()

3.0    18618
5.0    11741
4.0     9877
1.0     6223
2.0     4225
Name: previous_year_rating, dtype: int64

In [12]:
hrtrain.length_of_service.value_counts()

3     7033
4     6836
2     6684
5     5832
7     5551
6     4734
1     4547
8     2883
9     2629
10    2193
11     916
12     794
13     687
15     593
14     549
16     548
17     432
18     392
19     329
20     128
21      78
24      70
23      65
22      61
25      51
26      41
27      36
28      30
29      30
31      20
30      12
32      10
33       9
34       4
37       1
Name: length_of_service, dtype: int64

In [13]:
#Lets impute missing values for previous year ratings
hrtrain.previous_year_rating.fillna(value = 3.0, inplace = True)

In [14]:
hrtest.previous_year_rating.fillna(value = 3.0, inplace = True)

In [15]:
hrtrain.education.value_counts()

Bachelor's          36669
Master's & above    14925
Below Secondary       805
Name: education, dtype: int64

In [16]:
hrtest.education.value_counts()

Bachelor's          15578
Master's & above     6504
Below Secondary       374
Name: education, dtype: int64

In [17]:
hrtrain[hrtrain.education == 'Below Secondary']['department'].value_counts()

Technology     201
Operations     176
Procurement    129
HR             128
Finance        106
Legal           65
Name: department, dtype: int64

In [18]:
hrtrain.education.fillna("Bachelor's" , inplace = True)
hrtest.education.fillna("Bachelor's" , inplace = True)

In [19]:
# Dropping employee id
newtrain = hrtrain.drop('employee_id', axis = 1)
newtest = hrtest.drop('employee_id', axis = 1)

In [20]:
#Applying ohe
ohe_train = pd.get_dummies(newtrain)
ohe_test = pd.get_dummies(newtest)

In [21]:
# Scale the data
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [22]:
x = pd.DataFrame(sc.fit_transform(ohe_train.drop('is_promoted', axis = 1)))
scale_test = pd.DataFrame(sc.fit_transform(ohe_test))

C:\Users\Aditya Prakash\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Aditya Prakash\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\Aditya Prakash\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Aditya Prakash\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [23]:
y = hrtrain.is_promoted

In [33]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

In [37]:
model_lr = lr.fit(x,y).predict(scale_test)

C:\Users\Aditya Prakash\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [38]:
solution_lr = pd.DataFrame({'employee_id':hrtest.employee_id,
                            'is_promoted':model_lr})

In [41]:
solution_lr.to_csv('hrlr.csv', index = False)

In [40]:
cd

C:\Users\Aditya Prakash

In [42]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()
dtree.fit(x,y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [25]:
model_tree = dtree.predict(scale_test)

In [45]:
solution_dt = pd.DataFrame({'employee_id':hrtest.employee_id,
                            'is_promoted':model_tree})

In [48]:
solution_dt.to_csv('htdt.csv', index=False)

In [47]:
cd

C:\Users\Aditya Prakash

In [49]:
dt5 = DecisionTreeClassifier(max_depth=5)

In [52]:
dt5model = dt5.fit(x,y).predict(scale_test)

In [53]:
solutiondt5 = pd.DataFrame({'employee_id':hrtest.employee_id,
                            'is_promoted':model_tree})

In [56]:
solutiondt5.to_csv('htdt5.csv', index=False)

In [55]:
cd

C:\Users\Aditya Prakash

In [57]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(x,y)
knn_predict = knn.predict(scale_test)

In [58]:
solution_knn = pd.DataFrame({'employee_id': hrtest.employee_id,
                         'is_promoted':knn_predict})

In [61]:
solution_knn.to_csv('knnhr.csv', index = False)

In [60]:
cd

C:\Users\Aditya Prakash

In [62]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()

In [63]:
model_rf = rf.fit(x,y).predict(scale_test)

C:\Users\Aditya Prakash\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [64]:
solution_rf = pd.DataFrame({'employee_id': hrtest.employee_id,
                         'is_promoted':model_rf})

In [70]:
solution_rf.to_csv('hrrf.csv', index=False)

In [69]:
cd

C:\Users\Aditya Prakash